<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		 version="4.0">
	<display-name>project-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- JSP Config -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/taglib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>


	<!-- Servlet Mapping -->

	<servlet>
		<servlet-name>DateServlet</servlet-name>
		<servlet-class>baby.controller.action.DateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DateServlet</servlet-name>
		<url-pattern>/sample</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>user.controller.UserServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/User/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommunityServiceServlet</servlet-name>
		<servlet-class>community.controller.CommunityServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommunityServiceServlet</servlet-name>
		<url-pattern>/community/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommunityCommentServiceServlet</servlet-name>
		<servlet-class>communityComment.controller.CommunityCommentServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommunityCommentServiceServlet</servlet-name>
		<url-pattern>/communityComment/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DiaryServiceServlet</servlet-name>
		<servlet-class>diary.controller.DiaryServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryServiceServlet</servlet-name>
		<url-pattern>/diary/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EnrollServiceServlet</servlet-name>
		<servlet-class>enroll.controller.EnrollServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnrollServiceServlet</servlet-name>
		<url-pattern>/enroll/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BabyServiceServlet</servlet-name>
		<servlet-class>baby.controller.BabyServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BabyServiceServlet</servlet-name>
		<url-pattern>/baby/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BabyInfoServiceServlet</servlet-name>
		<servlet-class>babyInfo.controller.BabyInfoServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BabyInfoServiceServlet</servlet-name>
		<url-pattern>/babyInfo/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>image.controller.ImageServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>

	<!-- Error Page -->
	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<error-page>
		<location>/error</location>
	</error-page>



	<!--   <filter>-->
	<!--      <filter-name>CorsFilter</filter-name>-->
	<!--      <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
	<!--      <init-param>-->
	<!--         <param-name>cors.allowed.origins</param-name>-->
	<!--         <param-value>*</param-value> &lt;!&ndash; 모든 출처를 허용 &ndash;&gt;-->
	<!--      </init-param>-->
	<!--      <init-param>-->
	<!--         <param-name>cors.allowed.methods</param-name>-->
	<!--         <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value> &lt;!&ndash; 허용할 HTTP 메서드 &ndash;&gt;-->
	<!--      </init-param>-->
	<!--   </filter>-->
	<!--   <filter-mapping>-->
	<!--      <filter-name>CorsFilter</filter-name>-->
	<!--      <url-pattern>/*</url-pattern> &lt;!&ndash; 모든 경로에 대해 필터 적용 &ndash;&gt;-->
	<!--   </filter-mapping>-->

	<!-- CORS Filter -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://localhost:8080,http://localhost:3000,https://iconew123.github.io</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST, DELETE</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Authorization,Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<!--
        <init-param>
           <param-name>cors.support.credentials</param-name>
           <param-value>true</param-value>
        </init-param>
        -->
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



</web-app>

