@charset "EUC-KR";

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

form input,  
form select
{
	outline: none;
}

form input[type="text"], 
form input[type="password"],
form > div:nth-last-child(3)
{
	width: 400px;
	padding: 12px;
}

form > div:nth-last-child(3)
{
	border-radius: 10px;
	border: solid 1px lightgrey;
}

form > input[type="submit"] {
	width: 426px;
	color: whitesmoke;
	padding: 12px;
	margin: 0;
	border: none;
	border-radius: 10px;
	background-color: #222831;
}

form > div > select {
	width: 100%;
	padding: 12px;
}

form input[type="radio"] {
	display: none;
}

form > div, 
form > input:last-child
{
	margin-top: 20px;
}

form > div > input, 
form > div > select,
form > div > div
{
	border: solid 1px lightgrey;
	border-bottom: none;
}

form > div > input:focus,
form > div > select:focus,
form > div > input:last-child:focus
{
	border: solid 1px #222831;
}

form > div > input:focus + input, 
form > div > input:focus + select
{
	border-top: none;
}

form>div>select {
	-webkit-appearance: none; 
	appearance: none;
}

form > div > input:first-child {
	border-radius: 10px 10px 0 0;
	padding-top: 14px;
}

form > div > input:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: solid 1px lightgrey;
	padding-bottom: 14px;
}

#radio-container, 
#radio-container > div
{
	display: flex;
}

#radio-container > div {
	width: 100%;
	margin: 10px;
}

.error-container {
	margin: 10px 0 0 0;
	color: tomato;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: left;
}

#agree,
.error-container > p {
	display: none;
}
